@import "tailwindcss";

@theme{
  --font-f1: var(--font-orbit)
}

@layer base{
  :root{
    font-family: var(--font-titill);
    font-weight: 700;
  }

  body {
    font-size: 16px;
    color: white;
    background-color: #15151E;
  }

  button{
    height: fit-content;
    color: white;
    background-color: #E10600;
    padding: 4px 16px 3.5px;
    border: 2px solid white;
    border-radius: 1rem;
  }

  button:hover{
    cursor: pointer;
    background-color: #333;
  }
}
